
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", Arial, sans-serif;
  background-color: #fdf6f0;
  color: #333;
  line-height: 1.6;
}


.container {
  display: flex;
  gap: 5%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff7e7;
  border-radius: 15px;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .container {
      flex-direction: column;
      gap: 20px;
  }
}


.info-section {
  flex: 1;
}

.info-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fd9e58;
}

.info-section p {
  font-size: 1rem;
  text-align: justify;
}


.form-section {
  flex: 1;
}

.form-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fd9e58;
}


.contact-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}


input, select {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #ffffff;
}

input::placeholder {
  color: #888;
}


button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #fd9e58;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffb482;
  transform: scale(1.05);
}


#gender, #region {
  background-color: #fef7e5;
}

#comments {
  background-color: #fef7e5;
  color: #333;
}
